@import "../../../styles.scss";

.navmenu-content {
    ul {
        list-style: none;
        padding-inline-start: 0px;
        padding-top: 50px;
        li {
            padding: 0;
            margin-bottom: 10px;
            width: 100%;
            font-size: 20px;
            transition: background-color .23s ease-in-out;
            cursor: pointer;
            &.active {
                background-color: $main-color-900;
            }
            &:hover {
                background-color: $main-color-600;
            }
            a {
                padding: 10px 25px;
                display: block;
                width: 100%;
                text-decoration: none;
                color: #fff;
                display: flex;
                align-items: center;
                gap: 10px;
                img {
                    height: 32px;
                }
            }
        }
    }
}
