<div class="navmenu-content">
    <ul>
        <li [class.active]="route.url=='/home/board'"><a routerLink="board" (click)="getRoute('/home/board')"><img src="/assets/img/nav_board.svg" alt="">Tafel</a></li>
        <li [class.active]="route.url=='/home/addtask'"><a routerLink="addtask" (click)="getRoute('/home/addtask')"><img src="/assets/img/nav_addtask.svg" alt="">neue Aufgabe</a></li>
        <li [class.active]="route.url=='/home/contacts'"><a routerLink="contacts" (click)="getRoute('/home/contacts')"><img src="/assets/img/nav_contacts.svg" alt="">Kontakte</a></li>
    </ul>
</div>
