<div class="background">
    <div class="content-frame">
        <div class="content-left">
            <div class="content-left-header">
                <div class="logo-box">
                    <img src="/assets/img/favicon.png">
                </div>
                <div class="title">
                    <span>LINK</span>
                </div>
            </div>
            <div class="content-left-container">
                <span class="login-title">Login</span>
                <form class="form-login" autocomplete="off">
                    <div id="form-username-label" class="form-element-label" top="Benutzername">
                        <input type="text" name="username" id="form-username" class="form-element" placeholder="Benutzername" required>
                        <span>Benutzername ist erforderlich.</span>
                    </div>
                    <div id="form-password-label" class="form-element-label" top="Passwort">
                        <input type="password" name="password" id="form-password" class="form-element" placeholder="Passwort" required>
                        <span>Kein gültiges Passwort.</span>
                    </div>
                    <div class="form-element-btn-box">
                        <button class="btn-primary">Login</button>
                        <button class="btn-secondary">Registrieren</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="content-right"></div>
    </div>
</div>