<div class="background">
    <div class="content-frame">
        <div class="content-left">
            <div class="content-left-header">
                <div class="logo-box">
                    <img src="/assets/img/favicon.png">
                </div>
                <div class="title">
                    <span>LINK</span>
                </div>
            </div>
            <div class="content-left-container">
                <span class="login-title">Anmelden</span>
                <form class="form-login" autocomplete="off" (ngSubmit)="onSubmit(login)" #login="ngForm">
                    <div class="error-box">
                        @if (errMail) {
                        <span class="err-text" [class.err-login]="errMail">E-Mail oder Passwort nicht gültig!</span>
                        }
                    </div>
                    <div id="form-username-label" class="form-element-label" top="Benutzername (E-Mail)">
                        <input type="text" name="username" #username="ngModel" [(ngModel)]="dataLogin.username" id="form-username" class="form-element" placeholder="Benutzername (E-Mail)" autocomplete="username" required>
                        <span>E-Mail ist erforderlich.</span>
                    </div>
                    <div id="form-password-label" class="form-element-label" top="Passwort">
                        <input type="password" name="password" id="form-password" [(ngModel)]="dataLogin.password" class="form-element" placeholder="Passwort" autocomplete="current-password" required>
                        <span>Kein gültiges Passwort.</span>
                    </div>
                    <div class="form-element-btn-box">
                        <button class="btn-primary">Anmelden</button>
                        <button class="btn-secondary" (click)="navToRegister()"><span>Registrieren</span><img src="/assets/img/right.svg"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="content-right"></div>
    </div>
</div>