<div class="background">
    <div class="content-frame">
        <div class="content-left">
            <div class="content-left-header">
                <div class="logo-box">
                    <img src="/assets/img/favicon.png">
                </div>
                <div class="title">
                    <span>LINK</span>
                </div>
            </div>
            <div class="content-left-container">
                <span class="login-title">Registrieren</span>
                <form class="form-register" autocomplete="off" (ngSubmit)="onSubmit(register)" #register="ngForm">
                    <div class="form-input-box">
                        <div id="form-firstname-label" class="form-element-label" top="Vorname">
                            <input type="text" name="firstname" id="form-firstname" class="form-element" [(ngModel)]="registerData.firstname" placeholder="Vorname" autocomplete="given-name" required>
                            <span>Vorname ist erforderlich.</span>
                        </div>
                        <div id="form-lastname-label" class="form-element-label" top="Nachname">
                            <input type="text" name="lastname" id="form-lastname" class="form-element" [(ngModel)]="registerData.lastname" placeholder="Nachname" autocomplete="family-name" required>
                            <span>Nachname ist erforderlich.</span>
                        </div>
                        <div id="form-email-label" class="form-element-label" top="E-Mail">
                            <input type="email" name="email" id="form-email" class="form-element" [(ngModel)]="registerData.email" placeholder="E-Mail" autocomplete="email" required>
                            <span>E-Mail ist erforderlich.</span>
                        </div>
                        <div id="form-password-label" class="form-element-label" top="Neues Passwort">
                            <input type="password" name="newpassword" id="form-password" class="form-element" minlength="8" [(ngModel)]="registerData.newpassword" placeholder="Neues Passwort" autocomplete="new-password" required>
                            <span>Kein gültiges Passwort.</span>
                        </div>
                        <div id="form-password-repeat-label" class="form-element-label" top="Passwort wiederholen">
                            <input type="password" name="confirmpassword" id="form-password-repeat" class="form-element" minlength="8" [(ngModel)]="registerData.confirmpassword" placeholder="Passwort wiederholen" autocomplete="new-password" required>
                            <span>Kein gültiges Passwort.</span>
                        </div>
                    </div>
                    <div class="form-element-btn-box">
                        <button type="submit" class="btn-primary">Registrieren</button>
                        <button type="button" class="btn-secondary" (click)="backToLogin()"><img src="/assets/img/left.svg"><span>Anmelden</span></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="content-right"></div>
    </div>
</div>