<div class="background">
    <div class="content-frame">
        <div class="content-left">
            <div class="content-left-header">
                <div class="logo-box">
                    <img src="/assets/img/favicon.png">
                </div>
                <div class="title">
                    <span>LINK</span>
                </div>
            </div>
            <div class="content-left-container">
                <span class="login-title">Registrieren</span>
                <form class="form-register" autocomplete="off" [formGroup]="registerFormFields" (ngSubmit)="onSubmit(register)" #register="ngForm">
                    <div class="form-input-box">
                        <div id="form-firstname-label" class="form-element-label" top="Vorname">
                            <input type="text" name="firstname" id="form-firstname" class="form-element" placeholder="Vorname" autocomplete="given-name" required formControlName="formfirstname" pattern="[A-Za-z ÄäÖöÜüß\s\-]{2,}">
                            <span>Vorname ist erforderlich.</span>
                        </div>
                        <div id="form-lastname-label" class="form-element-label" top="Nachname">
                            <input type="text" name="lastname" id="form-lastname" class="form-element" placeholder="Nachname" autocomplete="family-name" required formControlName="formlastname" pattern="[A-Za-z ÄäÖöÜüß\s\-]{2,}">
                            <span>Nachname ist erforderlich.</span>
                        </div>
                        <div id="form-email-label" class="form-element-label" top="E-Mail">
                            <input type="email" name="email" id="form-email" class="form-element" placeholder="E-Mail" autocomplete="email" required formControlName="formemail" pattern="[a-zA-Z0-9\.!%_\+\-]{1,64}[@][a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,6}">
                            <span>E-Mail ist erforderlich.</span>
                        </div>
                        <div id="form-password-label" class="form-element-label" top="Neues Passwort">
                            <input type="password" name="newpassword" id="form-password" class="form-element" placeholder="Neues Passwort" autocomplete="new-password" required formControlName="formnewpassword" pattern="(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d).{8,}">
                            <span>Kein gültiges Passwort.</span>
                        </div>
                        <div id="form-password-repeat-label" class="form-element-label" top="Passwort wiederholen">
                            <input type="password" name="confirmpassword" id="form-password-repeat" class="form-element" placeholder="Passwort wiederholen" autocomplete="new-password" required formControlName="formconfirmpassword" pattern="(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=\D*\d).{8,}">
                            <span>Kein gültiges Passwort.</span>
                        </div>
                    </div>
                    <div class="form-element-btn-box">
                        <button type="submit" class="btn-primary" [disabled]="!registerFormFields.valid || disableForm" [class.valid]="!registerFormFields.valid">Registrieren</button>
                        <button type="button" class="btn-secondary" (click)="backToLogin()" [disabled]="disableForm"><img src="/assets/img/left.svg"><span>Anmelden</span></button>
                    </div>
                </form>
                <div class="msg-box" [class.view]="registerSuccess">
                    <span>Registrierung erfolgreich</span>
                </div>
            </div>
        </div>
        <div class="content-right"></div>
    </div>
</div>