@import "../../../styles.scss";

.taskitem-container {
    border: 1px solid $btn-icon;
    border-radius: 10px;
    .taskitem-header {
        border-radius: 10px 10px 0 0;
        background-color: $background-input;
        padding: 4px 15px;
        transition: background-color 0.16s ease-in-out;
        cursor: pointer;
        span {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .taskitem-content {
        padding: 4px 5px;
        background-color: $background;
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        .ti-content-memberlist {
            ul {
                display: flex;
                gap: 0px;
                li {
                    &:nth-child(1n + 2) {
                        margin-left: -12px;
                    }
                    .member-item {
                        padding: 2px 2px;
                        width: 100%;
                        display: block;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        span {
                            max-width: 28px;
                            min-width: 28px;
                            max-height: 28px;
                            width: 28px;
                            height: 28px;
                            border: 1px solid #fff;
                            border-radius: 99px;
                            background-color: $background-frame;
                            color: $text-color;
                            font-size: 12px;
                            font-weight: 700;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            opacity: 1;
                            user-select: none;
                        }
                    }
                }
            }
        }
        .ti-content-color {
            content: '';
            width: 100%;
            height: 5px;
            border-radius: 9px;
        }
    }
    .taskitem-footer {
        padding: 0 10px 5px 10px;
        height: 25px;
        width: 100%;
        border-radius: 0 0 10px 10px;
        background-color: $background;
        .ti-footer-navbox {
            height: 100%;
            display: flex;
            justify-content: space-between;
            .btn-img-box {
                width: 20px;
                height: 20px;
                border-radius: 99px;
                cursor: pointer;
                &:hover {
                    background-color: $btn-primary;
                }
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    &:hover {
        .taskitem-header {
            background-color: $main-color;
        }
    }
}


@media screen and (max-width: 1024px) {
    .taskitem-container {
        .taskitem-header {
            span {
                font-size: 12px;
            }
        }
        .taskitem-content {
            font-size: 12px;
            .ti-content-color {
                content: '';
            }
        }
        .taskitem-footer {
            .ti-footer-navbox {
                .btn-img-box {
                    cursor: pointer;
                    &:hover {
                    }
                    img {
                    }
                }
            }
        }
        &:hover {
            .taskitem-header {
            }
        }
    }
    
}


@media screen and (max-width: 768px) {
    .taskitem-container {
        .taskitem-header {
            span {
            }
        }
        .taskitem-content {
            .ti-content-color {
                content: '';
            }
        }
        .taskitem-footer {
            .ti-footer-navbox {
                .btn-img-box {
                    cursor: pointer;
                    &:hover {
                    }
                    img {
                    }
                }
            }
        }
        &:hover {
            .taskitem-header {
            }
        }
    }
    
}


