<div class="board-box">
    <div class="board-subbox">
        <div class="task-row">
            <div class="task-row-title">
                <span>Aufgabe</span>
                <div class="task-row-add">
                    <img src="/assets/img/plus.svg">
                </div>
            </div>
            <div class="task-row-content">
                <!-- @if (tasks.len() > 0) { -->
                    @for (task of dbTasks$; track $index) {
                        @if (task.status == 0) {
                            <app-task-item [taskItem]="task"></app-task-item>
                        }
                    }
                <!-- } @else {
                    <div>Leer</div>
                } -->
            </div>
            <div class="task-row-footer"></div>
        </div>
        <div class="task-row">
            <div class="task-row-title">
                <span>In Arbeit</span>
                <div class="task-row-add">
                    <img src="/assets/img/plus.svg">
                </div>
            </div>
            <div class="task-row-content">
                @for (task of dbTasks$; track $index) {
                    @if (task.status == 1) {
                        <app-task-item [taskItem]="task"></app-task-item>
                    }
                }
            </div>
            <div class="task-row-footer"></div>
        </div>
        <div class="task-row">
            <div class="task-row-title">
                <span>Bewertung</span>
                <div class="task-row-add">
                    <img src="/assets/img/plus.svg">
                </div>
            </div>
            <div class="task-row-content">
                @for (task of dbTasks$; track $index) {
                    @if (task.status == 2) {
                        <app-task-item [taskItem]="task"></app-task-item>
                    }
                }
            </div>
            <div class="task-row-footer"></div>
        </div>
        <div class="task-row">
            <div class="task-row-title">
                <span>Fertig</span>
            </div>
            <div class="task-row-content">
                @for (task of dbTasks$; track $index) {
                    @if (task.status == 3) {
                        <app-task-item [taskItem]="task" [taskStatus]="3"></app-task-item>
                    }
                }
            </div>
            <div class="task-row-footer"></div>
        </div>
    </div>
</div>
