<div class="board-box">
    <div class="board-subbox">
        @for (taskTitle of taskTitles; track taskTitle; let taskrow = $index) {
            <div class="task-row">
                <div class="task-row-title">
                    <span>{{taskTitle}}</span>
                    @if (taskrow < 3) {
                        <a class="task-row-add" [routerLink]="['/home/addtask',taskrow]" (click)="getRoute('/home/addtask', taskrow)">
                            <img src="/assets/img/plus.svg">
                        </a>
                    }
                </div>
                <div class="task-row-content">
                    <!-- @if (tasks.len() > 0) { -->
                        @for (task of tasks; track $index) {
                            @if (task.status == taskrow) {
                                <app-task-item [taskItem]="task"></app-task-item>
                            }
                        }
                    <!-- } @else {
                        <div>Leer</div>
                    } -->
                </div>
                <div class="task-row-footer"></div>
            </div>
        }
    </div>
</div>
