<div class="board-box">
    <div class="board-subbox">
        <div class="task-row">
            <div class="task-row-title">
                <span>Todo</span>
            </div>
            <div class="task-row-content">
                1
            </div>
        </div>
        <div class="task-row">
            <div class="task-row-title">
                <span>In Progress</span>
            </div>
            <div class="task-row-content">
                2
            </div>
        </div>
        <div class="task-row">
            <div class="task-row-title">
                <span>Feedback</span>
            </div>
            <div class="task-row-content">
                3
            </div>
        </div>
        <div class="task-row">
            <div class="task-row-title">
                <span>Done</span>
            </div>
            <div class="task-row-content">
                4
            </div>
        </div>
    </div>
</div>
