@import "../../../styles.scss";

.main-box {
    width: 100%;
    height: 100%;
    background-color: $background;
    display: flex;
    flex-direction: column;
    .header-component-box {
        z-index: 1;
        padding: 0 50px;
        height: 80px;
        width: 100%;
        background-color: $text-dark;
        box-shadow: $shadow-headers;
        font-size: 42px;
        display: flex;
        align-items: center;
    }
    .content-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        .navmenu-box {
            // min-width: 250px;
            width: 250px;
            height: 100%;
            background-color: rgba($text-light, $alpha: .20);
            border-right: 1px solid $text-dark;
            box-shadow: 6px 0 6px 0 rgba(0,0,0,0.12);
            flex-shrink: 0;
        }
    }
}