<div class="addtask-container">
    <div class="addtask-header">
        <h1>Neue Aufgabe</h1>
    </div>
    <div class="addtask-content">
        <form action="" class="addtask-form">
            <div class="form-element-label" top="Titel">
                <input type="text" id="title" name="title" class="form-element" placeholder="Titel">
            </div>
            <div class="form-element-label" top="Beschreibung">
                <input type="text" id="description" name="description" class="form-element" placeholder="Beschreibung">
            </div>
            <div class="task-type-box">
                <h2>Typ</h2>
                <div class="form-element-label-row task-color">
                    <div class="form-element-row">
                        <input type="radio" id="color-0" name="color" class="form-element" required checked><label class="color-0" for="color-0">1</label>
                    </div>
                    <div class="form-element-row">
                        <input type="radio" id="color-1" name="color" class="form-element" required><label class="color-1" for="color-1">2</label>
                    </div>
                    <div class="form-element-row">
                        <input type="radio" id="color-2" name="color" class="form-element" required><label class="color-2" for="color-2">3</label>
                    </div>
                    <div class="form-element-row">
                        <input type="radio" id="color-3" name="color" class="form-element" required><label class="color-3" for="color-3">4</label>
                    </div>
                    <div class="form-element-row">
                        <input type="radio" id="color-4" name="color" class="form-element" required><label class="color-4" for="color-4">5</label>
                    </div>
                </div>
            </div>
            <div class="task-priority-box">
                <h2>Priorität</h2>
                <div class="form-element-label task-priority">
                    <div class="form-element-row" for="priority-low">
                        <input type="radio" id="priority-low" name="priority" class="form-element" required><label for="priority-low"><img class="low" src="/assets/img/priority_0.svg"><span>Gering</span></label>
                    </div>
                    <div class="form-element-row" for="priority-medium">
                        <input type="radio" id="priority-medium" name="priority" class="form-element" required checked><label for="priority-medium"><img class="medium" src="/assets/img/priority_1.svg"><span>Normal</span></label>
                    </div>
                    <div class="form-element-row" for="priority-high">
                        <input type="radio" id="priority-high" name="priority" class="form-element" required><label for="priority-high"><img class="high" src="/assets/img/priority_2.svg"><span>Hoch</span></label>
                    </div>
                </div>
            </div>
            <div class="form-element-label">
            </div>
            <input type="hidden" id="status" name="status" min="0" max="3" class="form-element">
            <button type="submit" class="btn-primary">Erstellen</button>
        </form>
    </div>
</div>
