<div class="addtask-container" *ngIf="dataAddTask">
    <div class="addtask-header">
        <h1>Neue Aufgabe</h1>
    </div>
    <div class="addtask-content">
        <form #addTask="ngForm" (ngSubmit)="onSubmit(addTask)" class="addtask-form">
            <div class="form-element-label" top="Titel">
                <input type="text" id="title" name="title" #title="ngModel" [(ngModel)]="dataAddTask.title" class="form-element" placeholder="Titel" required>
            </div>
            <div class="form-element-label" top="Beschreibung">
                <input type="text" id="description" name="description" #description="ngModel" [(ngModel)]="dataAddTask.description" class="form-element" placeholder="Beschreibung">
            </div>
            <div class="task-type-box">
                <h2>Typ</h2>
                <div class="form-element-label-row task-color">
                    <div class="form-element-row">
                        <input type="radio" id="color-0" name="color" class="form-element" [value]=0 [(ngModel)]="dataAddTask.color" required><label class="color-0" for="color-0">1</label>
                    </div>
                    <div class="form-element-row">
                        <input type="radio" id="color-1" name="color" class="form-element" [value]=1 [(ngModel)]="dataAddTask.color" required><label class="color-1" for="color-1">2</label>
                    </div>
                    <div class="form-element-row">
                        <input type="radio" id="color-2" name="color" class="form-element" [value]=2 [(ngModel)]="dataAddTask.color" required><label class="color-2" for="color-2">3</label>
                    </div>
                    <div class="form-element-row">
                        <input type="radio" id="color-3" name="color" class="form-element" [value]=3 [(ngModel)]="dataAddTask.color" required><label class="color-3" for="color-3">4</label>
                    </div>
                    <div class="form-element-row">
                        <input type="radio" id="color-4" name="color" class="form-element" [value]=4 [(ngModel)]="dataAddTask.color" required><label class="color-4" for="color-4">5</label>
                    </div>
                </div>
            </div>
            <div class="task-priority-box">
                <h2>Priorität</h2>
                <div class="form-element-label task-priority">
                    <div class="form-element-row" for="priority-low">
                        <input type="radio" id="priority-low" name="priority" class="form-element" [value]=0 [(ngModel)]="dataAddTask.priority" required><label for="priority-low"><img class="low" src="/assets/img/priority_0.svg"><span>Gering</span></label>
                    </div>
                    <div class="form-element-row" for="priority-medium">
                        <input type="radio" id="priority-medium" name="priority" class="form-element" [value]=1 [(ngModel)]="dataAddTask.priority" required><label for="priority-medium"><img class="medium" src="/assets/img/priority_1.svg"><span>Normal</span></label>
                    </div>
                    <div class="form-element-row" for="priority-high">
                        <input type="radio" id="priority-high" name="priority" class="form-element" [value]=2 [(ngModel)]="dataAddTask.priority" required><label for="priority-high"><img class="high" src="/assets/img/priority_2.svg"><span>Hoch</span></label>
                    </div>
                </div>
            </div>
            <div class="members-content">
                <h2>Mitglieder</h2>
                <div class="form-element-label">
                    <div class="members-add-btn-box">
                        <input type="checkbox" name="members" id="members"><label for="members" class="members-add-btn"><img src="/assets/img/memberlist.svg"></label>
                    </div>
                    <div class="members-dropdown-box">
                        <ul>
                            @for (cont of dbContacts$; track $index) {
                                <li>
                                    <input type="checkbox" name="contactlist" id="contact-{{$index}}" (change)="manageMembers( $event, cont.id )">
                                    <label for="contact-{{$index}}"><span>{{ cont.initials }}</span>{{ cont.name }}</label>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="v-seperator"></div>
                    <div class="members-list">
                        <ul>
                            @for (member of members; track $index) {
                                <li title="{{ getNameFromID(member) }}">
                                    <div class="member-item"><span>{{ getInitialsFromID(member) }}</span></div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="status-content">
                <span>Status: {{taskTitles[dataAddTask.status]}}</span>
            </div>
            <input type="hidden" id="status" name="status" min="0" max="2" [ngModel]="dataAddTask.status" class="form-element">
            <button type="submit" class="btn-primary" [disabled]="disableForm">Erstellen</button>
        </form>
    </div>
</div>
