$lable-0: #ff7a00;
$lable-1: #ff5eb3;
$lable-2: #6e52ff;
$lable-3: #9327ff;
$lable-4: #00bee8;
$lable-5: #1fd7c1;
$lable-6: #ff745e;
$lable-7: #ffa35e;
$lable-8: #fc71ff;
$lable-9: #ffc700;
$lable-10: #2b52ff;
$lable-11: #2bff2b;
$lable-12: #ffe62b;
$lable-13: #ff4646;
$lable-14: #ffbb2b;

.color-0 {
    background-color: $lable-12;
}

.color-1 {
    background-color: $lable-13;
}

.color-2 {
    background-color: $lable-10;
}

.color-3 {
    background-color: $lable-11;
}

.color-4 {
    background-color: $lable-3;
}

.color-5 {
    background-color: $lable-5;
}

.color-6 {
    background-color: $lable-6;
}

.color-7 {
    background-color: $lable-7;
}

.color-8 {
    background-color: $lable-8;
}

.color-9 {
    background-color: $lable-9;
}

.color-10 {
    background-color: $lable-10;
}

.color-11 {
    background-color: $lable-11;
}

.color-12 {
    background-color: $lable-12;
}

.color-13 {
    background-color: $lable-13;
}

.color-14 {
    background-color: $lable-14;
}
