<div class="edit-contact-container">
    <div class="edit-contact-title">
        <h1>Kontakt bearbeiten</h1>
    </div>
    <form class="edit-contact-form" (ngSubmit)="onSubmit(editContact)" #editContact="ngForm">
        <div class="edit-contact-fields">
            <div class="form-element-label" top="Name">
                <input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="dataEditContact.name" class="form-element" placeholder="Name" value="{{dataEditContact.name}}">
            </div>
            <div class="form-element-label" top="E-Mail">
                <input type="text" id="email" name="email" #email="ngModel" [(ngModel)]="dataEditContact.email" class="form-element" placeholder="E-Mail" pattern="[a-zA-Z0-9\.%_\+\-]{1,}[@][a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,}" value="{{dataEditContact.email}}">
            </div>
            <div class="form-element-label" top="Telefon">
                <input type="text" id="phone" name="phone" #phone="ngModel" [(ngModel)]="dataEditContact.phone" class="form-element" placeholder="Telefon" value="{{dataEditContact.phone}}">
            </div>
        </div>
        <div class="btn-container">
            <button type="button" class="btn-secondary" (click)="closeDialog()">Schließen</button>
            <button type="submit" class="btn-primary">Speichern</button>
        </div>
    </form>
</div>